@model StudentCollab.Models.User

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<h2>Error</h2>
<head>

</head>
<body>
    <div>
        <h3><strong>Something wrong</strong></h3>
    </div>
</body>
